.aside {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: fixed;
    margin: 10px;
    width: 10%;
    border-style: dashed;
    border-width: 0.15em;
    border-color: black;
}